<!doctype html>
<title>The Data Incubator Change</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>The Data Incubator CHALLENGE</h1>
  <div class=metanav>

<h4>
2 plots for my project - Author.Yi Zheng
</h4>

<form id='index' method='post' action='plot1' > 
   <input type='submit' value='Go plot1' /> 
   </p>
</form>
<form id='index' method='post' action='plot2' > 
   <input type='submit' value='Go plot2' /> 
   </p>
</form>
</div>
</div>
