<html>
<head>
<style type="text/css">
p.const {font-family: "Microsoft YaHei" ! important;}
</style>
</head>
<body>
<h2>Plot1</h2>
<form id='plot1' method='post' action='home' > 
   <p>
   <input type='submit' value='HOME' /> 
   </p>
</form>
<img src="http://i68.tinypic.com/24w576a.png" width="600" height="482" /> <img src="http://i63.tinypic.com/351fio4.png" width="600" height="482" />
<p><img src="http://i66.tinypic.com/9h52j6.png" width="600" height="307" /> <img src="http://i64.tinypic.com/orrswn.png" width="600" height="307" /></p>
<h3>Explanation:</h3>
<p class="const">According to the UK postcode, I label the corresponding postcode area on the map, so we can visually understand where the location is.<p>
<p class="const">Suppose I am a new professor in Unversity of Cambridge who wants to buy an old leasehold flat near the campus, I can use 
the daya analysis tool to search for the infomation on the nearby areas. The tool provides me the overall average price of the Cambrdge Country and the average price of different areas 
in Table 1 to help make a comparision. Also, I get the average price changed and the rate in last 12 months. Table 2 provides me the number of sold flats in 2015 on different 
regions. These information provide me the reference about how well different areas are and what the popularity is. Usually if an area has a big average changed rate and flat
sold number, it means it has a well established social infrastructure and welcomed by many people. Also it's a better choice to make the investments. Generally speaking, the tool can provide user 
the average price and its change rate on different regions about different types of properties, whether old or new, freehold or leasehold in different years. By comparing the 
statistics, I am interested in CB1 3 area. Because on the map CB1 3 is not only near to the campus but also has a fair average price and change rate. The number of sold flats is large, which means
this area has a good source of the flats with good quality. To get more information about CB1 3, the tool provides user with the distribution of the sold flats in different price range. 
I find that the prices of flats in CB1 3 are distributed uniformly, which mean this area has different price-ranges of flats to choose. <b>In a word, the tool saves user a lot of time to search for and gather
the information about residential property since it provides various kinds of data and users could find out whatever they want easily and conveniently, of course, 
the tool is reliable and latest by using data from Land Registry of UK government. </b>
</p>




<form id='plot1' method='post' action='home' > 
   <p>
   <input type='submit' value='HOME' /> 
   </p>
</form>

</body>
</html>
