<html>
<head>
<style type="text/css">
p.const {font-family: "Microsoft YaHei" ! important;}
</style>
</head>
<body>
<h2>Plot2</h2>
<form id='plot2' method='post' action='home' > 
   <p>
   <input type='submit' value='HOME' /> 
   </p>
</form>
<img src="http://i63.tinypic.com/21ch20z.png" width="600" height="482" /> 
<p><img src="http://i64.tinypic.com/xnxcfq.png" width="600" height="400" /> <img src="http://i63.tinypic.com/2guz02q.png" width="700" height="400" /></p>
<h3>Explanation:</h3>
<p class="const">According to the UK postcode, I label the corresponding postcode area on the map, so we can visually understand where the location is.<p>
<p class="const">If I am an investor or home seller who is interested about old freelease flats in Cambridge Country, I can use the tool to help me with my decisions. The tool 
provides me with information about the average price changed on different regions in Cambridge Country from year 2010 to year 2015 in Table 1. It shows that the prices on 
most parts have steady increases in the last 5 years, except some areas with fluctuations in price. For a short-term investment, I would invest on areas like CB1, CB2, CB3, CB5 
which have large increasing price change rates. It means if I invest my money on these areas, I could obtain huge profits quickly. One reason is that these areas are near to the campus,
so there is always a big demand for flats. The tool also provides me the properties sold and the price change rate in 2015 in Table 2. CB8 area has a significant price change rate in 2015 which reveals
a big potential on this area and with the low average price on this area, for a long-term investment, I could invest money on this area. After several years' development on this area, 
the average price will be large.
<b>Generally, the tool not only offers users with existing statistic anaysis to make comparisons and choices, but also provides the tendency of market value of residential property and helps users make predictions 
by analysing the data in different years.</b>
</p>




<form id='plot2' method='post' action='home' > 
   <p>
   <input type='submit' value='HOME' /> 
   </p>
</form>

</body>
</html>
